* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #292929;
    font-family: 'Montserrat', sans-serif;
    transition: .7s;
}

body.switchMode {
    background: #eee;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 36px;
    letter-spacing: 2px; 
    color: #fff;
    margin-bottom: 45px;
}

body.switchMode .section-title {
    color: #000;
}

.button {
    display: inline-block;
    background: #f83b3a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
}

body.switchMode .button {
    color: #000;
    font-weight: bold;
}

.button:hover, .button:focus, .button:active {
    opacity: .7;
}

/* Header start ------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header_active {
    background: #191919;
}

body.switchMode .header_active {
    background: #fff;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
}

.header__logo__link {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.header__logo__link:hover, 
.header__logo__link:focus, 
.header__logo__link:active {
    opacity: .7;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.header__item {
    margin-right: 80px;
}

.switch {
    display: flex;
}

.header__item:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.header__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .7;
}

body.switchMode .header__logo__link,
body.switchMode .header__link {
    color: #000;
}

.header__item-switch {
    position: relative;
    width: 44px;
    height: 24px;

    border: 1px solid #ccc;
    border-radius: 10em;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
}

body.switchMode .header__item-switch {
    background: #fff;
}

.header__link-switch:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #555;
    border-radius: 50%;
    transition: .7s;
}

body.switchMode .header__link-switch:after {
    left: 18px;
}

.header__burger {
    position: relative;
    width: 40px;
    height: 28px;
    display: none;
}

.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
}

body.switchMode .burger__line {
    background: #000;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}
/* Header end ------------------------------------------*/


/* Intro start -----------------------------------------*/
.intro {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 240px;
    margin-bottom: 150px;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.intro__header__title {
    color: #fff;
    font-size: 46px;
    transition: .5s;
}

body.switchMode .intro__header__title {
    color: #000;
}

.intro__header__title-prof {
    color: #f83b3a;
}

.intro__avatar__photo {
    border-radius: 50%;
}
/* Intro end --------------------------------------------*/


/* About start ------------------------------------------*/
.about {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: 100px;
}

.about__desc-par {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

body.switchMode .about__desc-par {
    color: #000;
}
/* About end --------------------------------------------*/


/* Portfolio start --------------------------------------*/
.portfolio {
    margin-bottom: 200px;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item {
    position: relative;
    display: block;
    width: calc(100% / 3 - 10px);
    margin: 0 10px 15px 0;
}

.portfolio__item:last-child {
    margin-right: 0;
}

.portfolio__item-pic {
    width: 100%;
    height: 260px;
}

.portfolio__item-pic:hover,
.portfolio__item-pic:focus,
.portfolio__item-pic:active {
    opacity: .7;
}

.portfolio__button {
    display: flex;
    justify-content: center;
}
/* Portfolio end ----------------------------------------*/


/* Contacts start ---------------------------------------*/
.contacts {
    margin-bottom: 130px;
}

.contacts__form {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contacts__forms-name, .contacts__forms-phone {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding: 10px 0 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 3px;
}

.contacts__form-text {
    width: 100%;
    padding: 10px 0 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 3px;
}

.contacts__form-button {
    width: 100%;
    background: #f83b3a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

body.switchMode .contacts__form-button {
    color: #000;
    font-weight: bold;
}

.contacts__form-button:hover,
.contacts__form-button:focus,
.contacts__form-button:active {
    opacity: .7;
}
/* Contacts end -----------------------------------------*/


/* Footer start -----------------------------------------*/
.footer {
    position: relative;
    padding: 40px 0;
    background: #191919;
}

.footer__copyright {
     text-align: center;
     color: #fff;
}

body.switchMode .footer {
    background: #fff;
}

body.switchMode .footer__copyright {
    color: #000;
}
/* Footer end -------------------------------------------*/


/* Media start */
@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #191919;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    body.switchMode .header__nav {
        background: #fff;
    }
    .header__nav_active {
        transform: translateX(0);
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 50%;
        transform: translateY(-50%);
    }
    body.switchMode .header__nav-close-line {
        background: #000;
    }
    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}